body::after {
   --label-width: 400px;
   --label-height: 200px;
   content: "styles.css works";
   font-size: 64px;
   width: var(--label-width);
   height: var(--label-height);
   text-align: center;
   display: block;
   position: absolute;
   left: calc(50% - var(--label-width) / 2);
   top: calc(50% - var(--label-height) / 2);
}